@import 'tailwindcss';

/* Use Tailwind theme colors: "bg-background", "bg-navbar" for example */

@theme {
  --color-background: #bee1f626;
  --color-profileBackground: #ceebff;
  --color-navbar: #9db5e3;
  --color-menu: #9db5e3ba;
  --color-filter: #83c7ef;
  --color-filterBorder: #59a7d5;
  --color-tag: #bee1f6;
  --color-tagBorder: #59a7d5;
  --color-card: #f3f3f3;
  --color-loginButton: #2a65e5cc;
  --color-heading: #062980;
  --color-logo: #0a4976;
  --color-favourite: #e40909;
  --color-favouriteBorder: #7e0505;
}

html * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
