@import "tailwindcss";

@theme {
  --color-background: #BEE1F626;
  --color-navbar: #9DB5E3;
  --color-menu: #9DB5E3BA;
  --color-filter: #83C7EF;
  --color-filterBorder: #59A7D5;
  --color-tag: #BEE1F6;
  --color-tagBorder: #59A7D5;
  --color-card: #F3F3F3;
  --color-loginButton: #2A65E5CC;
  --color-heading: #062980;
  --color-logo: #0A4976;
  --color-favourite: #E40909;
  --color-favouriteBorder: #7E0505;
}
